<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color:aliceblue;">Angular CRUD</h1>
        <div class="d-flex">
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add Employee</button>
        </div>
    </div>        
</nav> 

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">DOB</th>
            <th scope="col">Hobbies</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>    
    </thead>
    <tbody>
        <tr *ngFor = "let row of employeeData">
            <td>{{row.id}}</td>
            <td>{{row.fullName}}</td>
            <td>{{row.address}}</td>
            <td>{{row.phone}}</td>
            <td>{{row.email}}</td>
            <td>{{row.dob}}</td>
            <td>{{row.gender}}</td>
            <td>{{row.hobbies}}</td>
            <td>{{row.role}}</td>
            <td>
                <button class="btn btn-info" (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                <button class="btn btn-danger mx-3" (click)="deleteEmployee(row.id)">Delete</button>
            </td>    
        </tr>    
    </tbody>    
</table>    


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Employee Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
            <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">ID</label>
    <input type="text" formControlName="id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Full Name</label>
    <input type="text" formControlName="fullName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Address</label>
    <input type="text" formControlName="address" class="form-control" id="exampleInputPassword1" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Phone</label>
    <input type="text" formControlName="phone" class="form-control" id="exampleInputPassword1" minlength=10 maxlength=10 required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1" placeholder="pat@example.com" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">DOB</label>
    <input type="date" formControlName="dob" class="form-control" id="exampleInputPassword1" required>
  </div>
  
    <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" formControlName="gender">
  <label class="form-check-label" for="flexRadioDefault1">
    Male
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" formControlName="gender" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Female
  </label>
</div><br>
<div class="form-group">
    <label for="exampleFormControlSelect2">Hobbies</label>
    <select multiple class="form-control" id="exampleFormControlSelect2" formControlName="hobbies">
      <option>Dancing</option>
      <option>Music</option>
      <option>Reading</option>
      <option>Gardening</option>
      <option>Writing</option>
    </select>
</div>
  
  <div>
    <label for="exampleFormControlSelect2">Role</label>
    <select class="form-select" aria-label="Default select example" formControlName="role">
  <option selected></option>
  <option value="Web">Web Developer</option>
  <option value="Backend">Backend Developer</option>
  <option value="sales">Sales</option>
</select>
  </div>
  
</form>
      </div>
    
      
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="postEmployeeDetails()">Submit</button>
        <button type="button" class="btn btn-primary" (click)="updateEmployeeDetails()">Update</button>
      </div>
    </div>
  </div>